/*Base*/
@import url('./base/reset.css');
@import url('./base/typoghaphy.css');
@import url('./base/variables.css');

/*Pages*/
@import url('./pages/styles.css');
@import url('./pages/home.css');
@import url('./pages/quizz.css');

/*Layout*/
@import url('./layout/button.css');
@import url('./layout/manchetes.css');
@import url('./layout/card-manchetes.css');

body {
    background-color: var(--dark-red);

    --width: 1024px;
    display: grid;
    grid-template-columns: 
        calc(50vw - calc(var(--width) / 2))
        repeat(3, 1fr)
        calc(50vw - calc(var(--width) / 2));

    transition: .2s;
}

main {
    padding: 2rem 2rem;
    grid-column: 2 / -2;
}