.button {
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 12px;
    margin: .5rem 1rem; 
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-body);
    color: var(--white);
    background-color: var(--red);
}